.button{
     padding: 1rem;
     margin: 2rem;
     border-radius: 0.7vw;
     background-color: $color__white;
     color: $color__grey;
     text-decoration: none;
     display: inline-block;
     border: solid $color__pink;
     &:hover{
          background-color: $color__pink;
          color: $color__white;
     }
}
.button-secondary{
     @extend .button;
     background-color: $color__pink;
     color: $color__white;
     &:hover{
          background-color: $color__white;
          color: $color__pink;
     }
}
