.character{
     padding: 3rem;
     text-align: center;
     &-card{
          display: flex;
          justify-content: center;
          &-image{
               height: 20rem;
               margin: 2rem;
               width:calc(33% - 4rem);
               flex-shrink: 0;
               object-fit: contain;
          }
     }
}
