//navigation.scss
.nav{
     font-family: $font__heading;
     margin-right: auto;
     font-size: 1.2rem;
     display:flex;
     .menu{
          @include listreset;
          &-item{
               &-link{
                    color: $color__white;
                    text-decoration: none;
                    padding: 2rem;
                    display: block;
                    &:hover{
                         text-shadow: 3px 3px darken($color: $color__pink, $amount: 5%);
                    }
               }
          }
     }
}
.logo{
     height: 4rem;
     margin: auto 2rem;
}