$font__main: 'Josefin Sans', sans-serif;
$font__heading: 'Crimson Text', serif;

$color__blue: #79aaff;
$color__orange: #ff8653;
$color__grey: #4b4545;
$color__white: #ffffff;
$color__black: #000000;
$color__pink: #bcb8ff;

$color_text:$color__grey;
$color__background: #fefefe;

$color__link: $color__blue;
$color__link-hover: lighten($color__blue, 15%);